/*fonts*/

@font-face
{
    font-family: textfont;
    src: url(fonts/test_font2.otf);
}

/*html*/

html
{
    overflow : hidden;
}

@-moz-document url-prefix()
{
    html
    {
        overflow-y : scroll;
    }
}

body
{
    width : 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.mobile
{
    visibility: hidden;
    height: 0px;
}

.about
{
    background: #AAAAAA;
    color: #000000;
}

a
{
    color: #7A7A7A;
    text-decoration: none;
}

.post_description a
{
    color: inherit;
    text-decoration: none;
}

.post_description a:visited
{
    color: inherit;
    text-decoration: none;
}

a:visited
{
    color: #7A7A7A;
}

.empty
{
    height : 15px;
}

/* here are settings for main bar*/

#header
{
    position: relative;
    top: 0px;
    background: #D7D7D7;
    color : #000000;
    width : 100%;
    height : 65px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5) inset;
}

#main_contents
{
    -ms-overflow-style: none;
    overflow-y : scroll;
    height : calc(100% - 65px);
}

#main_contents::-webkit-scrollbar 
{
    display: none;
}

.main_bar
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height : 30%;
    margin: auto;
    margin-left: 40px;
    padding: 0px;
}

.header_button
{
    color : #7A7A7A;
    padding: 0px;
    font : bold 15px Helvetica, Sans-Serif;
    margin-top : 50%;
    margin-bottom : 50%;
    margin-left : 10px;
    margin-right : 10px;
}

.header_button:hover
{
    color : #276fb8;
}

#current_page
{
    color : #276fb8;
}

/*here are settings for main picture bar*/

.main_pic_block
{
    position: relative;
    width : 100%;
    min-height : 100px;
}

.main_pic
{
    width : 100%;
}

.title_headers
{
    position : absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    margin: auto;
}

.main_header
{
    top: 0px;
    height: 40px;
    margin: auto;
    text-align: center;
}

.second_header
{
    height : 15px;
    bottom: : 0px;
    margin: auto;
    text-align: center;
}

.second_header span
{
    height : 100%;
    color : white;
    font : bold 18px Helvetica, Sans-Serif;
    padding: 0px;
}

.main_header span
{
    color : white;
    font : bold 40px Helvetica, Sans-Serif;
    letter-spacing : -1px;
    padding: 0px;
}

/*here are settings for posts*/

.news
{
    width : 100%;
    padding-bottom: 15px;
}

.post
{
    padding-top: 30px;
    padding-left: 15%;
    padding-right: 15%;
}

.post_description
{
    padding-bottom: 5px;
}

.post_description span
{
    color: black;
    font: bold 26px Helvetica, Sans-Serif;
    letter-spacing: -1px;
}

.post_date
{
     padding-bottom: 15px;
}

.post_date span
{
    color: #7A7A7A;
    font: bold 18px textfont, sans-serif;
}

.post_image
{
    width: 100%;
    min-height: 100px;
    padding-bottom: 15px;
}

.post_image_vertical_left
{
    width : 49%;
    min-height : 100px;
    float : left;
    padding-bottom: 15px;
}

.post_image_vertical_right
{
    width : 49%;
    min-height : 100px;
    float : right;
    padding-bottom: 15px;
}

.post_text_preview
{
    color : #7A7A7A;
    font : bold 18px/18px textfont, sans-serif;
    padding-bottom: 15px;
}

.post_read_more
{
    min-height: 45px;
    text-align : center;
    vertical-align: middle;
    width : 100%;
}

.post_read_more a
{
    display : inline-block;
    float: left;
    background-color: #276fb8;
}

.post_read_more a div
{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 55px;
    padding-right: 55px;
    color : #ffffff;
    font: bold 16px Helvetica, Sans-Serif;
}

.view_album
{
    min-height: 45px;
    text-align : center;
    vertical-align: middle;
    width : 100%;
    float: none;
}

.view_album a
{
    display : inline-block;
    float: left;
    width: 100%;
    background-color : #276fb8;
}

.view_album a div
{
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 60px;
    padding-right: 60px;
    color : #ffffff;
    font: bold 18px Helvetica, Sans-Serif;
}

/* slide show */

.slider 
{
    width: 100%;
    height : 300px;
    overflow : hidden;
}

.slider-wrapper 
{
    position: relative;
    width : 2000px;
    height : 300px;
    transition: left 1s linear;
    overflow : hidden;
}

.slide
{
    float: left;
    position: relative;
}

.slider-nav
{
    width : 100%;
    height : 300px;
    position : relative;
    z-index : 5;
    top : -300px;
}

.slider-nav button
{
    border: none;
    background : none;
    display: block;
    background-color:none;
    width: 5%;
    height : 100%;
}


.slider-nav button:focus
{
    outline-style:none;
}

.slider-nav button img
{
    width : 100%;
    border : none;
    display : none;
}

.slider-nav button:hover img
{
    width : 100%;
    border : none;
    display : block;
}

.slider-nav button.slider-previous
{
    float: left;
    border: none;
}

.slider-nav button.slider-next
{
    float: right;
    border: none;
}

/* footer text*/

.social_bar
{
    height : 65px;
    background-color : #276fb8;
    overflow: hidden;
}

.social_icon
{
    display: inline-block;
    position: relative;
    width: 13%;
    height: 80%;
    margin-left: 6.5%;
    margin-right: 6.5%;
    margin-top: 6.5px;
}

#rss
{
    width: 7%;
}

.social_icon .center_icon
{
    position: absolute;
    width : 100%;
    top: 0;
    bottom: 0;
    margin : auto;
}

#rss .center_icon 
{
    width : 50%;
}

.social_icon .left_part_social
{
    position: absolute;
    width : 20%;
    float : left;
    top: 0;
    bottom: 0;
    margin : auto;
}

.social_icon .right_part_social
{
    position: absolute;
    width : 70%;
    top: 0;
    bottom: 0;
    margin : auto;
    right : 0;
}

.sort_about_me
{
    position: relative;
    display: block;
    width: 100%;
    background-color: #7A7A7A;
    overflow: hidden;
}

.footer_avatar
{
    display: inline-block;
    width : 10%;
    min-height: 220px;
    min-width : 100px;
    padding-top: 15px;
    margin-left: 10%;
    margin-right: 3%;
}

.footer_avatar img
{
    display: inline-block;
    width : 100%;
}

.about_me_text 
{
    display: inline-block;
    width: 40%;
    padding-top: 15px;
    margin-right: 3%;
}

.footer_description
{
    color : white;
    font : bold 26px Helvetica, Sans-Serif;
    letter-spacing : -1px;
    bottom: 3px;
    margin-top: auto;
}

.footer_text
{
    color : white;
    font : bold 18px/18px textfont, sans-serif;
}

#about_me
{
    color : #276fb8;
    font : bold 18px Helvetica, Sans-Serif;
    text-decoration: underline;
    top: 3px;
    margin-bottom: auto;
}

.subscribe
{
    position: absolute;
    display: inline-block;
    width : 24%;
    margin-top: 15px;
    margin-right: 10%;
}

.join_block
{
    position: relative;
    display: block;
    padding-bottom: 3%;
    width: 100%;
    height: 45px;
}

.join_list_text
{
    position: absolute;
    color : white;
    font : bold 26px/26px Helvetica, Sans-Serif;
    letter-spacing : -1px;
    bottom: 3px;
    margin : auto;
}

input
{
    color : #7A7A7A;
    font : bold 18px Helvetica, Sans-Serif;
}

.email_input
{
    width : 100%;
    height : 100%;
    padding : 15px;
    border: none;
}

.email_button
{
    display: table-cell;
    width: 100%;
    height: 44px;
    background-color: #276fb8;
    border: none;
    color: #ffffff;
    font: bold 18px Helvetica, Sans-Serif;
}

.created_by
{
    background-color: #7A7A7A;
    width: 100%;
    height: 20px;
}

.created_by span
{
    color: white;
    font: bold 18px textfont, sans-serif;
    float: right;
    margin-top: 15px;
    padding-right: 15px;
}

.share
{
    position: relative;
    height: 50px;
    width: 85%;
    left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.share .share_elements 
{
    position: absolute;
    margin: auto;
    max-width: 380px;
    height: 50px;
    right: 0;
}

.share_text
{
    position: relative;
    display: inline-block;
    width: 10%;
    height: 100%;
    min-width: 100px;
    color: #7A7A7A;
    font: bold 18px Helvetica, Sans-Serif;
}

.share_text span
{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 70%;
    margin: auto;
}

.share_line 
{
    display: inline-block;
}

.share_button
{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.about_us_pic
{
    width: 100%;
    margin-bottom: 15px;
}

.about_us
{
    width: 100%;
}

.about_us_main
{
    margin-bottom: 30px;
}

.about_us_left
{
    display: inline-block;
    vertical-align: top;
    margin-right: 2.4%;
    width: 24%;
}

.about_us_right
{
    display: inline-block;
    vertical-align: top;
    margin-left: 2.4%;
    width: 69.5%;
}

.mailtome
{
    color: #276fb8;
}

.mailtome:visited
{
    color: #276fb8;
}

.photo_icons_group
{
    display: block;
    width: 100%;
}

.photo_icons
{
    display: inline-block;
    width: 23.5%;
    margin-left: 0;
    margin-right: 1%;
    margin-bottom: 1%;
}

.photo_icons:last-child
{
    margin-right: 0px;
}

.gallery
{
    padding-top: 30px;
}

.gallery .post_read_more
{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.gallery_button
{
    position: relative;
    display: inline-block;
    width: 15%;   
}

#next_image
{
    width: 13%; 
}

.gallery_button_move
{
    position: absolute;
    top: 0;
    bottom: 0;
    display: block; 
    margin: auto;
    width: 30%;
    margin: auto;
    padding-left: 35%;
    padding-right: 35%;
}

.gallery_image_horizontal
{
    display: inline-block;
    margin-left: -4px;
    width: 70%;
}

.gallery_button_vertical
{
    width: 27%;
}

.gallery_image_vertical
{
    display: inline-block;
    width: 44%;
}

#back_to_album_link
{
    float : right;
}

#go_to_next
{
    float: right;
}

.poweredWrapper
{
    padding: 20px 0;
    width: 560px;
    margin: 0 auto;
}

.poweredBy
{
    display: block;
    vertical-align: middle;
}

.photo_album
{
    display: inline-block;
    width: 32.1%;
}

.photo_album:nth-child(odd)
{
    padding-right: 2.5%;
}

.photo_album:nth-child(even)
{
    padding-left: 2.5%;
}

#vertical_image
{
    display: none;
}

.author
{
    padding-top: 15px;
    display: inline-block;
    width: 15%;
    padding-right: 2.5%;
}

.text_with_auth
{
    display: inline-block;
    width: 80.5%;
}

.navigation
{
    display: block;
    text-align: center;
    color: #7A7A7A;
    font: bold 18px textfont, sans-serif;
}

.navigation *
{
    display: inline-block;
}

.navigation a
{
    text-decoration: underline;
}

.hide_nav_button
{
    visibility:hidden
}

@media screen and (max-width: 710px)
{
    .post_read_more a div
    {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* adaptive part for  mobiles (and small view on desctops) */
@media screen and (max-width: 600px)
{
    .not_mobile
    {
        visibility: hidden;
        height: 0px;
    }

    .mobile
    {
        visibility: visible;;
        height: auto;
    }

    .post
    {
        padding-top: 15px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .post_read_more
    {
        float: none;
    }

    .post_read_more a
    {
        width: 100%;
    }

    .share
    {
        position: relative;
        height: 200px;
        width: 100%;
        left: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .share .share_elements 
    {
        position: absolute;
        margin: auto;
        width: 90%;
        height: 83%;
        padding-left: 5%;
        padding-right: 5%;
        max-width: 90%;
    }

    .share_text
    {
        font: bold 26px Helvetica, Sans-Serif;
        display: block;
        width: 100%;
        height: 30%;
        margin-bottom: 1%;
        min-width: 100px;
    }

    .share_text span
    {
        height: 43%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    .share_line 
    {
        position: relative;
        height: 30%;
        width: 40%;
        padding-left: 30%;
        padding-right: 30%;
        display: block;
    }

    .share_first_line
    {
        margin-bottom: 1%;
    }

    .share_button
    {
        height: 100%;
        width: auto;
    }

    .share_left
    {
        position: absolute;
        left: 30%;
        margin: auto;
    }

    .share_right
    {
        position: absolute;
        right: 30%;
        margin: auto;
    }

    .social_bar
    {
        min-height: 250px;
        height: auto;
    }

    .social_icon
    {
        display: block;
        width : 90%;
        height: 20%;
        margin-top: 10%; 
        margin-bottom: 10%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #rss
    {
        width : 90%;   
    }

    .social_icon .center_icon
    {
        width : 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    #rss .center_icon
    {
        width: 20%;
        margin-left: 40%;
        margin-right: 40%;
    }

    .social_icon .left_part_social
    {
        width : 12%;
        margin-left: 20%;
    }

    .social_icon .right_part_social
    {
        position: absolute;
        width : 42%;
        margin-right: 20%;
    }

    .sort_about_me
    {
        position: static;
    }

    .footer_avatar
    {
        display: block;
        width: 60%;
        padding-top: 15px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .about_me_text 
    {
        display: block;
        width: 90%;
        padding-top: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .subscribe
    {
        position: static;
        display: block;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .photo_icons
    {
        width: 48%;
        margin-left: 0;
        margin-right: 2%;
        margin-bottom: 2%;
    }

    .photo_icons:nth-child(even)
    {
        margin-right: 0px;
    }

    #go_to_next
    {
        float: none;
        margin-top: 15px;
    }

    #back_to_album_link
    {
        float: none;
        margin-top: 15px;
    }

    .photo_album
    {
        display: block;
        width: 90%;
    }

    .photo_album:nth-child(odd)
    {
        padding-right: 5%;
    }

    .photo_album:nth-child(even)
    {
        padding-left: 5%;
    }

    .about_us .post_text_preview:last-child
    {
        padding-bottom: 0px;
    }

    .about_us_left
    {
        display: block;
        vertical-align: top;
        margin-bottom: 15px;
        margin-right: 0px;
        width: 100%;
    }

    .about_us_right
    {
        display: block;
        vertical-align: top;
        margin: 0;
        width: 100%;
    }

    .after_text
    {
        margin-top: 15px;
    }

    .gallery .post_read_more
    {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .gallery_button
    {
        width: 4%; 
    }

    #next_image
    {
        width: 3.5%; 
    }

    .gallery_image_horizontal
    {
        display: inline-block;
        margin-left: 4px;
        width: 89%;
    }

    .gallery_button_vertical
    {
        display: none;
    }

    .gallery_image_vertical
    {
        width: 100%;
    }

    .gallery_button_move
    {
        width: 80%;
    }

    .gallery_button_move:first-child
    {
        padding-left: 20%;
        padding-right: 0px;
    }

    .author
    {
        display: block;
        width: 100%;
        padding-bottom: 15px;
    }

    .text_with_auth
    {
        display: block;
        width: 90%;
    }
}

/* super small */
@media  (max-width: 320px) 
{
    .share
    {
        height: 334px;
    }

    .share .share_elements 
    {
        width: 90%;
        height: 92%;
    }

    .share_text
    {
        font: bold 18px Helvetica, Sans-Serif;
        height: 19%;
    }

    .share_text span
    {
        height: 30%;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }

    .share_line 
    {
        height: 38%;
    }

    .share_button
    {
        display: block;
        height: 44%;
        width: auto;
        padding-top: 3%;
    }

    .share_left
    {
        position: static;
        left: 0;
        right: 0;
        margin: auto;
    }

    .share_right
    {
        position: static;
        left: 0;
        right: 0;
        margin: auto;
    }

}